.vscode/
venv/

__pycache__/
#*.py[cod]
*$py.class
/.pytest_cache/*

# Distribution / packaging
.Python
build/
lib/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports

# Translations

# Flask stuff:
instance/
.webassets-cache


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

exp/
*.log

/.idea/*

*.csv
*.log
*.txt
!requirements.txt